body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    transition: color .5s, background-color .5s;
}

body {
    background-color: #eee;
}

h1 {
    font-size: 36px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    margin-bottom: 20px;
}

nav a {
    margin: 0 14px;
    color: #333;
}

input {
    width: 580px;
    height: 40px;
    font-size: 24px;
    line-height: 35px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: 2px solid #3a3a3c;
    background-color: #eee;
    color: #333;
    transition: color .5s, background-color .5s;
}

body.dark-mode {
    background-color: #121213;
}

body.dark-mode h1,
body.dark-mode a,
body.dark-mode p,
body.dark-mode li,
body.dark-mode #relatedwords {
    color: #bbbbbb;
}

body.dark-mode input {
    border: 2px solid #3a3a3c;
    background: #121213;
    color: #bbbbbb;
}

@media only screen and (min-width: 992px) {
    input {
        width: 580px;
        height: 40px;
        font-size: 24px;
        line-height: 35px;
        margin: 5px;
    }
}

p {
    font-size: 18px;
    margin: 20;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(8, 153, 211, 0), rgba(8, 153, 211, 0.75), rgba(8, 153, 211, 0));
}

hr.dark-mode {
    background-image: linear-gradient(to right, rgba(102, 212, 255, 0), rgba(102, 212, 255, 0.75), rgba(102, 212, 255, 0));
}

li {
    margin: 20;
    padding: 20;
    text-align: left;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    padding: 4px;
}

/* .okBtn,
.okBtn-send,
.okBtn-change {
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
} */

.okBtn-change {
    color: white;
    padding-left: 15px;
    text-align: left;
}

.okBtn-send {
    color: white;
    padding-left: 15px;
    text-align: right;
}

#btn-dark-mode {
    cursor: pointer;
    text-decoration: underline;
}

#relatedwords {
    line-height: 27px;
    max-width: 600px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 12px;
}

.relWorkItem {
    border: 1px solid rgb(54, 54, 54);
    border-radius: 12px;
    border-color: rgba(4, 118, 163, 0.75);
    padding: 12px;
    width: 40px;
    margin: 8px;
    text-align: center;
    font-size: 16px;
}

.relWorkItem.dark-mode {
    border: 1px solid #ccc;
    border-color: rgb(82, 206, 255, 98%);
}

.minw {
    font-style: italic;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.zoow {
    color: rgb(82, 206, 255, 98%);
}

#wordLength {
    font-weight: bold;
}

.center {
    margin: auto;
    padding: 10px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    padding: 2px;
}

.col {
    flex: 1;
    padding: 2px;
}

/* Button style start */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-51:hover,
.button-51:active {
  outline: 0;
}
.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}
.button-51:before {
  background-color: #c5e7ff;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}
.button-51:hover:before {
  background-color: #6DCFF6;
}
@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}
/* Button style end */